/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

::ng-deep slick-slide {
  width: 1237px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.more-button {
  width: 94px;
  height: 26px;
  font-size: 24px;
  font-family: Alibaba PuHuiTi;
  font-weight: 400;
  color: #302E3E;
  line-height: 20px;
  background: url("./assets/img/more.png") no-repeat;
  margin-left: 8px;
  margin-top: 46px;
  cursor: pointer;
}

