<!--<div name="body" id="body" class="top-banner">-->
<!--  <div class="banner-component">-->
<!--    <img src="../../assets/img/bg.png">-->
<!--  </div>-->
<!--</div>-->
<!--<div name="overseas" class="aboutus" id="overseas">-->
<!--  <div class="a-component fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s"-->
<!--    style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">-->
<!--    <div class="title"></div>-->
<!--    <div class="content">-->
<!--      北京筑梦园科技有限公司是美行科技的子公司，于2015年在成立。是一家致力于提供全场景一站式的-->
<!--      智慧停车解决方案提供商，是“华为严选”、腾讯WeCity、长三角静态交通一体化产业发展中心的生态合-->
<!--      作伙伴，为城市管理者、停车场运营机构提供城市级停车平台SAAS服务，实现停车服务的全场景覆盖，让-->
<!--      沈阳成为了国内首个落地城市级智慧停车解决方案的城市、交通部ETC智慧停车平台唯一试点城市。-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div name="message" class="information" id="message">-->
<!--  <div class="a-component fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s"-->
<!--    style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">-->
<!--    <div class="title"></div>-->
<!--    <div class="content">-->
<!--      <button class="p-left-btn" (click)="carousel.pre()"><i nz-icon class="pre"></i></button>-->
<!--      <nz-carousel #carousel [nzEffect]="'fade'">-->
<!--        <div nz-carousel-content *ngFor="let products of array">-->
<!--          <div class="wrap">-->
<!--            <div class="sub" *ngFor="let item of products">-->
<!--              <img class="label1" *ngIf="item.label==='城市项目'"-->
<!--                src="../../assets/img/城市项目tag.png" alt="">-->
<!--              <img class="label2" *ngIf="item.label==='停车场项目'"-->
<!--                src="../../assets/img/停车场项目tag.png" alt="">-->
<!--              <img src="{{item.img}}" alt="">-->
<!--              <p class="line-limit-length">{{item.title}}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </nz-carousel>-->
<!--      <button class="p-right-btn" (click)="carousel.next()"><i nz-icon class="next"></i></button>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
<!--<div name="contact" class="contact-us" id="contact">-->
<!--  <div class="a-component contact-component fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s"-->
<!--    style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">-->
<!--    <div class="title"></div>-->
<!--    <div class="content">-->
<!--      <ul>-->
<!--        <li *ngFor="let item of contacts">-->
<!--          <img src="{{item.img}}">-->
<!--          <div class="t">{{item.title}}</div>-->
<!--          <div class="tel">{{item.price}}</div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<app-footer></app-footer>-->

<!--<nz-modal [(nzVisible)]="isVisible" nzTitle="提示" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">-->
<!--  <p>注册会员登录后可浏览！会员费10元/月。</p>-->
<!--</nz-modal>-->

<div>
  <div class="home-banner">
    <div class="top-text">为服务而生&nbsp;&nbsp;携手共进</div>
    <div class="middle-text">Born for service cooperate with you</div>
    <div class="bottom-text">
      以人为本，超值服务，极致体验
      标准化、流程化、系统化
    </div>
    <img src="../../assets/img/滑动提示.png">
  </div>
  <div class="company-introduction">
    <div>
      <img src="../../assets/img/qiye_img.png">
      <div class="about-us">
        <img src="../../assets/img/about_us.png">
        <div class="introduction">
          北京筑梦园科技有限公司成立于2014年，是一家致力于提供全场景一站式城市级智慧停车解决方案提供商，是“华为严选”，腾讯WeCity、长三角静态交通一体化产业发展中心的生态合作伙伴，为城市管理者、停车场运营机构提供城市级智慧停车平台SAAS服务，实现停车服务的全场景覆盖，让沈阳成为国内首个落地城市级智慧停车解决方案的城市，交通部ETC智慧停车平台唯一试点城市。
        </div>
        <div class="more-button">more</div>
      </div>
    </div>
  </div>
  <div class="project-introduction">
    <div class="center-box">
      <img src="../../assets/img/solutions.png">
      <div class="project-list">
        <span class="dividing-line"></span>
        <div class="project-box">
          <img src="../../assets/img/停车云平台_icon.png" style="margin: 35px 90px 16px 91px">
          <div class="project-name" style="margin-left:62px">停车云平台</div>
        </div>
        <span class="dividing-line"></span>
        <div class="project-box">
          <img src="../../assets/img/路内停车管理系统_icon.png" style="margin: 35px 91px 16px 90px">
          <div class="project-name" style="margin-left:32px">路内停车管理系统</div>
        </div>
        <span class="dividing-line"></span>
        <div class="project-box">
          <img src="../../assets/img/路外停车管理系统_icon.png" style="margin: 35px 90px 16px 90px">
          <div class="project-name" style="margin-left:31px">路外停车管理系统</div>
        </div>
        <span class="dividing-line"></span>
        <div class="project-box">
          <img src="../../assets/img/交通诱导系统_icon.png" style="margin: 35px 90px 16px 91px">
          <div class="project-name" style="margin-left:54px">交通诱导系统</div>
        </div>
        <span class="dividing-line"></span>
        <div class="project-box">
          <img src="../../assets/img/场内引导管理系统_icon.png" style="margin: 35px 90px 16px 91px">
          <div class="project-name" style="margin-left:32px">场内引导管理系统</div>
        </div>
        <span class="dividing-line"></span>
      </div>
      <img src="../../assets/img/car.png" style="position: relative;top: -33px">
      <div class="more-project-btn">
        <div>more</div>
        <img src="../../assets/img/arrow.png">
      </div>
    </div>
  </div>
  <div class="product-display">
    <div class="center-box">
      <img src="../../assets/img/products.png">
      <div class="product-list">
        <div>免布线相机</div>
        <div>路牙相机</div>
        <div>视频桩</div>
      </div>
      <div class="product-detail">
        <img src="../../assets/img/设备.png">
        <div class="camera-detail">
          <div>免布线相机</div>
          <div class="camera-introduction">
            免布线中位相机是路内泊位的一对多检测设备，安装在3米高的位置处,通过定时抓拍的方式获
            取被检测泊位的照片并将照片上传给云端识别服务器进行图像识别， 从而实现对泊位的自动检测
            。免布线中位相机既可以检测车位的空闲状态、也可以识别停放车辆的车牌号码。 配合太阳能板
            电池供电以及4G网络通信，免布线中位相机可以实现自循环，达到无电、无网、无现场维护的
            使用状态。免布线中位相机可借杆安装，
            能够降低施工成本、提高建设效率。
          </div>
          <div class="more-button">more</div>
        </div>
      </div>
    </div>
  </div>
  <div class="parking-plan">
    <img src="../../assets/img/全场景智慧停车解决方案.png">
  </div>
  <div class="partner">
    <div class="center-box">
      <img src="../../assets/img/合作伙伴.png">
      <div class="partner-list">
        <div>
          <img src="../../assets/img/文兴.png">
          <img src="../../assets/img/沈阳国际软件园.png">
          <img src="../../assets/img/工商银行.png">
          <img src="../../assets/img/平安.png">
        </div>
        <div>
          <img src="../../assets/img/科拓.png">
          <img src="../../assets/img/捷顺.png">
          <img src="../../assets/img/道尔.png">
          <img src="../../assets/img/创通.png">
        </div>
      </div>
    </div>

  </div>
</div>
